<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.mapper.apdcn.mbg.MBGDsSystemRoleFunctionTypeWriteMapper" >
  <resultMap id="BaseResultMap" type="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionType" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="rolefunctionid" property="rolefunctionid" jdbcType="VARCHAR" />
    <result column="functiontypeid" property="functiontypeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, rolefunctionid, functiontypeid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionTypeExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ds_system_role_function_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit!=null">
    limit
    <if test="start!=null">
     #{start},
     </if>
     #{limit}
     </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from ds_system_role_function_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from ds_system_role_function_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionTypeExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from ds_system_role_function_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionType" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
    -->
    insert into ds_system_role_function_type (id, rolefunctionid, functiontypeid
      )
    values (#{id,jdbcType=VARCHAR}, #{rolefunctionid,jdbcType=VARCHAR}, #{functiontypeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionType" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
    -->
    insert into ds_system_role_function_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolefunctionid != null" >
        rolefunctionid,
      </if>
      <if test="functiontypeid != null" >
        functiontypeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rolefunctionid != null" >
        #{rolefunctionid,jdbcType=VARCHAR},
      </if>
      <if test="functiontypeid != null" >
        #{functiontypeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionTypeExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from ds_system_role_function_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update ds_system_role_function_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rolefunctionid != null" >
        rolefunctionid = #{record.rolefunctionid,jdbcType=VARCHAR},
      </if>
      <if test="record.functiontypeid != null" >
        functiontypeid = #{record.functiontypeid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update ds_system_role_function_type
    set id = #{record.id,jdbcType=VARCHAR},
      rolefunctionid = #{record.rolefunctionid,jdbcType=VARCHAR},
      functiontypeid = #{record.functiontypeid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionType" >
    <!--
      WARNING - @mbggenerated
    -->
    update ds_system_role_function_type
    <set >
      <if test="rolefunctionid != null" >
        rolefunctionid = #{rolefunctionid,jdbcType=VARCHAR},
      </if>
      <if test="functiontypeid != null" >
        functiontypeid = #{functiontypeid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.mapper.apdcn.pojo.DsSystemRoleFunctionType" >
    <!--
      WARNING - @mbggenerated
    -->
    update ds_system_role_function_type
    set rolefunctionid = #{rolefunctionid,jdbcType=VARCHAR},
      functiontypeid = #{functiontypeid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>