<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
                           
   <bean id="StoreDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <!-- initialSize: 初始化连接  -->
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <!-- minIdle: 最小空闲连接 -->
        <property name="minIdle" value="${jdbc.minIdle}"/>
        <!-- maxActive: 最大连接数量 -->
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <!-- removeAbandoned: 是否自动回收超时连接 -->
        <property name="removeAbandoned" value="true"/>
        <!-- removeAbandonedTimeout: 超时时间(以秒数为单位) -->
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/>
        <!-- maxWait: 超时等待时间以毫秒为单位 6000毫秒/200等于60秒 -->
        <property name="maxWait" value="${jdbc.maxWait}"/>
        <property name="defaultAutoCommit">
            <value>true</value>
        </property>
        <property name="validationQuery" value="select 1"/>
        <property name="poolPreparedStatements" value="true" />
        <property name="maxOpenPreparedStatements" value="${jdbc.maxOpenPreparedStatements}" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />
     	<!-- 解密密码必须要配置的项 -->
		<property name="filters" value="config" />
		<property name="connectionProperties" value="config.decrypt=true" />
    </bean>

	<bean id="StoreSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="StoreDataSource" />
        <property name="configLocation" value="classpath:spring/sqlmap-config.xml"/>
        <property name="mapperLocations" value="classpath:mybatis/mappers/ds/apdcn/*/*.xml"/>
	</bean> 
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.com.mapper.apdcn.custom" />
        <property name="sqlSessionFactoryBeanName" value="StoreSqlSessionFactory" />
    </bean>
    
    <bean id="StoreSystemSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="StoreDataSource" />
        <property name="configLocation" value="classpath:spring/sqlmap-config.xml"/>
        <property name="mapperLocations" value="classpath:mybatis/mappers/ds/system/*/*.xml"/>
	</bean> 
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.com.mapper.system.custom" />
        <property name="sqlSessionFactoryBeanName" value="StoreSystemSqlSessionFactory" />
    </bean>
    

</beans>
